### ChatBD configuration

# ChatDB version
#TAG=


LOG_LEVEL=debug
DEBUG=True
SECRET_KEY=secret
DATABASE_URL="postgresql+psycopg2://chatapp:chatapp@db:5432/chatapp"
DATABASE_URL_ASYNC="postgresql+asyncpg://chatapp:chatapp@db:5432/chatapp"
APP_ENV=dev
POSTGRES_USER=chatapp
POSTGRES_PASSWORD=chatapp
POSTGRES_DB=chatapp

# OpenAI
DEFAULT_OPENAI_API_KEY=
EMBEDDING_DRY_RUN=True

# AWS
# TO ADD

# Scraping
# Only scrape an articles again if it wasn't scraped within this time (hours)
REFRESH_TIME=2
MAX_SCRAPED_LINKS=20

# Sendgrid
SENDGRID_API_KEY=secret

# Lincensing
SHOULD_VALIDATE_LICENSE=True
KEYGEN_ACCOUNT_ID=secret

CHINOOK_DB_URL=""

ELASTIC_SEARCH_URL="http://elasticsearch:9200"
ELASTIC_SEARCH_ENABLED=False

# GOOGLE DRIVE API
GOOGLE_TOKEN="secret"
GOOGLE_REFRESH_TOKEN="secret"
GOOGLE_CLIENT_ID="secret"
GOOGLE_CLIENT_SECRET="secret"
